body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode a {
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #1f1f1f !important;
}

.dark-mode .btn-primary {
  background-color: #00b4ff;;
  border-color: #00b4ff;;
}
